{{!< default}}


{{#match @custom.publication_cover_style "!=" "None"}}
    <div class="site-header-content{{#match @custom.publication_cover_style "Large"}} large{{/match}}">
        {{#if @site.cover_image}}
            {{!-- This is a responsive image, it loads different sizes depending on device
            https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
            <img class="site-header-cover"
                srcset="{{img_url @site.cover_image size="s"}} 300w,
                        {{img_url @site.cover_image size="m"}} 600w,
                        {{img_url @site.cover_image size="l"}} 1000w,
                        {{img_url @site.cover_image size="xl"}} 2000w"
                sizes="100vw"
                src="{{img_url @site.cover_image size="s"}}"
                alt=""
            />
        {{/if}}
        <h1 class="site-title">
            {{#if @site.logo}}
                <img class="site-logo" src="{{img_url @site.logo size="m"}}" alt="{{@site.title}}" />
            {{else}}
                About East Asia Econ
            {{/if}}
        </h1>
    </div>
{{/match}}

<div id="site-main" class="site-main outer">
    {{!-- Everything inside the #post block pulls data from the post --}}
    <main id="site-main" class="site-main outer">
        <header class="article-header gh-canvas">
            {{#if feature_image}}
            <figure class="article-image">
                {{!-- This is a responsive image, it loads different sizes depending on device
                https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                <img
                    srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w"
                    sizes="(min-width: 1400px) 1400px, 92vw"
                    src="{{img_url feature_image size="xl"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                />
                {{#if feature_image_caption}}
                    <figcaption>{{feature_image_caption}}</figcaption>
                {{/if}}
            </figure>
            {{/if}}
        </header>

        <div class="outer">
            {{#page}}
            <article class="post-full {{post_class}} no-image">
                <section class="post-full-content">
                    <div class="post-content">
                        <br>
                        <h1 class="post-title" style="font-weight: bold">Articles</h1>
                    </div>
                </section>
            </article>
            {{/page}}
        </div>

<div id="site-main" class="site-main outer">
    <main id="site-main" class="site-main outer">
        <div class="outer">
            <article class="post-full no-image">
                <section class="post-full-content">
                    <div class="post-content">
                        <h1 class="post-title" style="font-weight: bold">Sample Articles for Subscribers</h1>
                        <p>Explore public samples from each section</p>
                    </div>
                </section>
            </article>
        </div>

        {{!-- Daily --}}
        <section class="home-section">5
            <h2>Daily</h2>
            <div class="post-feed section-feed">
                {{#get "posts" filter="slug:[east-asia-today-16, east-asia-today-9, east-asia-today-4]+visibility:public" limit="3"}}
                    <div class="inner posts">
                        <div class="post-feed">
                            {{#foreach posts}}
                                <article class="post-card {{post_class}} 
                                    {{#match @custom.feed_layout "Classic"}}
                                        {{#is "home"}}
                                            {{#has index="0"}} post-card-large{{/has}}
                                            {{#has index="1,2"}} dynamic{{/has}}
                                        {{/is}}
                                    {{/match}} 
                                    {{#match @custom.feed_layout "Grid"}} keep-ratio{{/match}} 
                                    {{#match @custom.feed_layout "List"}} 
                                        {{#is "home, paged"}} post-card-large{{/is}} 
                                    {{/match}}">
                                    
                                    <a class="post-card-content-link" href="{{url}}">
                                        <header class="post-card-header">
                                            <div class="post-card-content">
                                                <!-- Label for Public Post -->
                                                {{#has visibility="public"}}
                                                    <span class="post-label">Public Post</span>
                                                {{/has}}

                                                <!-- Label for Members Only -->
                                                {{#has visibility="members"}}
                                                    <span class="post-label">Members Only</span>
                                                {{/has}}

                                                <!-- Label for Paid Members Only -->
                                                {{#has visibility="paid"}}
                                                    <span class="post-label">Paid Member Post</span>
                                                {{/has}}

                                                <!-- Label for Specific Tier(s) -->
                                                {{#has visibility="tiers"}}
                                                    <span class="post-label">Subscribers Only</span>
                                                {{/has}}

                                                <h2 class="post-card-title">{{title}}</h2>

                                                {{#if feature_image}}
                                                    <a class="post-card-image-link" href="{{url}}">
                                                        <img class="post-card-image"
                                                            srcset="{{img_url feature_image size='s'}} 300w,
                                                                    {{img_url feature_image size='m'}} 600w,
                                                                    {{img_url feature_image size='l'}} 1000w,
                                                                    {{img_url feature_image size='xl'}} 2000w"
                                                            sizes="(max-width: 1000px) 400px, 800px"
                                                            src="{{img_url feature_image size='m'}}"
                                                            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                                                            loading="lazy"
                                                        />
                                                    </a>
                                                {{/if}}

                                                <p>{{excerpt words="70"}}</p>

                                                <footer class="post-card-meta">
                                                    <time class="post-card-meta-date" datetime="{{date format='YYYY-MM-DD'}}">
                                                        {{date}}
                                                    </time>
                                                    <span class="post-card-meta-length">{{reading_time}}</span>
                                                    {{#if @site.comments_enabled}}{{comment_count}}{{/if}}
                                                </footer>
                                            </div>
                                        </header>
                                    </a>
                                </article>
                            {{/foreach}}
                        </div>
                    </div>
                {{/get}}
            </div>
        </section>

    

        {{!-- Daily + Data --}}
        <section class="home-section">
            <h2>Daily + Data</h2>
            <div class="post-feed section-feed">
                {{#get "posts" filter="slug:[daily-data-post-1,daily-data-post-2,daily-data-post-3]+visibility:public" limit="3"}}
                    {{#foreach posts}}
                        {{> "post-card"}}
                    {{/foreach}}
                {{/get}}
            </div>
        </section>

        {{!-- Cycle Update --}}
        <section class="home-section">
            <h2>Cycle Update</h2>
            <div class="post-feed section-feed">
                {{#get "posts" filter="slug:[cn-activity-aug-25, jp-boj-outlook-jul-25,korea-bsi-mar-25]+visibility:public" limit="3"}}
                    {{#foreach posts}}
                        {{> "post-card"}}
                    {{/foreach}}
                {{/get}}
            </div>
        </section>

        {{!-- Taking Stock --}}
        <section class="home-section">
            <h2>Taking Stock</h2>
            <div class="post-feed section-feed">
                {{#get "posts" filter="slug:[taking-stock-post-1,taking-stock-post-2,taking-stock-post-3]+visibility:public" limit="3"}}
                    {{#foreach posts}}
                        {{> "post-card"}}
                    {{/foreach}}
                {{/get}}
            </div>
        </section>

        {{!-- Structural --}}
        <section class="home-section">
            <h2>Thematic</h2>
            <div class="post-feed section-feed">
                {{#get "posts" filter="slug:[cn-cny-aug-25,region-plaza-ii,taiwan-how-to-dispose-of-usd100bn]+visibility:public" limit="3"}}
                    {{#foreach posts}}
                        {{> "post-card"}}
                    {{/foreach}}
                {{/get}}
            </div>
        </section>
    </main>
</div>