{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}

{{#match @custom.publication_cover_style "!=" "None"}}
    <div class="site-header-content{{#match @custom.publication_cover_style "Large"}} large{{/match}}">
        {{#if @site.cover_image}}
            {{!-- This is a responsive image, it loads different sizes depending on device
            https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
            <img class="site-header-cover"
                srcset="{{img_url @site.cover_image size="s"}} 300w,
                        {{img_url @site.cover_image size="m"}} 600w,
                        {{img_url @site.cover_image size="l"}} 1000w,
                        {{img_url @site.cover_image size="xl"}} 2000w"
                sizes="100vw"
                src="{{img_url @site.cover_image size="s"}}"
                alt=""
            />
        {{/if}}
        <h1 class="site-title">
            {{#if @site.logo}}
                <img class="site-logo" src="{{img_url @site.logo size="m"}}" alt="{{@site.title}}" />
            {{else}}
                Japan charts
            {{/if}}
        </h1>
    </div>
{{/match}}

<div id="site-main" class="site-main outer">
    {{!-- Everything inside the #post block pulls data from the post --}}
    <main id="site-main" class="site-main outer">
        <header class="article-header gh-canvas">
            {{#if feature_image}}
            <figure class="article-image">
                {{!-- This is a responsive image, it loads different sizes depending on device
                https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                <img
                    srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w"
                    sizes="(min-width: 1400px) 1400px, 92vw"
                    src="{{img_url feature_image size="xl"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                />
                {{#if feature_image_caption}}
                    <figcaption>{{feature_image_caption}}</figcaption>
                {{/if}}
            </figure>
            {{/if}}
        </header>

    </main>
</div>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* Menu item and button styles */
        .menu-item, .myButton {
            display: inline-block;
            margin: 10px 5px;
            font-size: 16px;
            color: #ffffff; /* Adjust text color */
            text-decoration: none;
            padding: 2px 15px;
            border-radius: 5px;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
            background-color: #104b1f; /* Adjust background color */
            transition: background-color 0.3s ease;
            font-weight: bold;
            text-align: center;
            width: 150px; /* Standard width for all boxes */
        }

        /* Hover effect */
        .menu-item:hover, .myButton:hover {
            background-color: rgba(16, 75, 31, 0.7); /* Adjust hover background color */
        }

        body {
            overflow-x: auto; /* Enable horizontal scrolling */
        }

        .responsive-iframe {
            width: 100%; /* Occupy full width by default */
            height: auto; /* Auto adjust height */
            min-height: 1000px; /* Minimum height */
        }

        @media only screen and (max-width: 1023px) {
            .responsive-iframe {
                width: 140vw; /* Make the iframe wider than the screen on mobile devices */
            }
        }

        .myBTNdiv {
            margin-top: 20px; /* Adjust the value as needed to control the amount of space */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .menu-item {
            margin: 0 10px; /* Add space between menu items */
        }

        #charts {
            text-align: center; /* Center align the chart navigation */
            margin-bottom: 20px; /* Add some space below the navigation */
        }

        @media (max-width: 1023px) {
            .menu-item {
                display: block; /* Stack menu items vertically */
                margin: 10px 0; /* Add space between menu items */
            }

            .desktop-only {
                display: none; /* Hide charts on mobile */
            }
        }

        @media (min-width: 1024px) {
            .mobile-only {
                display: none; /* Hide mobile navigation links on desktop */
            }
        }

        @media (max-width: 1023px) {
            .desktop-only {
                display: none; /* Hide desktop charts on mobile */
            }
        }
    </style>
</head>
<body>

<div id="site-main" class="site-main outer">
    <!-- Your site content here -->
    <div class="desktop-only">
        <a href="https://www.eastasiaecon.com/charts/jp/consumer" class="menu-item">Consumer</a>
        <a href="https://www.eastasiaecon.com/charts/jp/export" class="menu-item">Export</a>
        <a href="https://www.eastasiaecon.com/charts/jp/industry" class="menu-item">Industry</a>
        <a href="https://www.eastasiaecon.com/charts/jp/labour" class="menu-item">Labour</a>
        <a href="https://www.eastasiaecon.com/charts/jp/macro" class="menu-item">Macro</a>
        <a href="https://www.eastasiaecon.com/charts/jp/money" class="menu-item">Money</a>
        <a href="https://www.eastasiaecon.com/charts/jp/prices" class="menu-item">Prices</a>
    </div>

    <!-- Mobile Navigation -->
    <div class="mobile-only">
        <a href="https://www.eastasiaecon.com/charts/jp/consumer" class="menu-item">Consumer</a>
        <a href="https://www.eastasiaecon.com/charts/jp/export" class="menu-item">Export</a>
        <a href="https://www.eastasiaecon.com/charts/jp/industry" class="menu-item">Industry</a>
        <a href="https://www.eastasiaecon.com/charts/jp/labour" class="menu-item">Labour</a>
        <a href="https://www.eastasiaecon.com/charts/jp/macro" class="menu-item">Macro</a>
        <a href="https://www.eastasiaecon.com/charts/jp/money" class="menu-item">Money</a>
        <a href="https://www.eastasiaecon.com/charts/jp/prices" class="menu-item">Prices</a>
    </div>


    <div id="jp_consumer_charts">
        <a id="jp_consumer_charts_anchor"></a>
        <h2>Consumer</h2>
        <figure class="kg-image-card kg-width-full">
            <iframe src="https://main--beautiful-dolphin-db8ab2.netlify.app/charts/jp/jp_consumer" class="responsive-iframe" loading="lazy"></iframe>
        </figure>
    </div>

</div>

</body>
</html>