

{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}


{{#match @custom.publication_cover_style "!=" "None"}}
    <div class="site-header-content{{#match @custom.publication_cover_style "Large"}} large{{/match}}">
        {{#if @site.cover_image}}
            {{!-- This is a responsive image, it loads different sizes depending on device
            https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
            <img class="site-header-cover"
                srcset="{{img_url @site.cover_image size="s"}} 300w,
                        {{img_url @site.cover_image size="m"}} 600w,
                        {{img_url @site.cover_image size="l"}} 1000w,
                        {{img_url @site.cover_image size="xl"}} 2000w"
                sizes="100vw"
                src="{{img_url @site.cover_image size="s"}}"
                alt=""
            />
        {{/if}}
        <h1 class="site-title">
            {{#if @site.logo}}
                <img class="site-logo" src="{{img_url @site.logo size="m"}}" alt="{{@site.title}}" />
            {{else}}
                Region
            {{/if}}
        </h1>
    </div>
{{/match}}

<div id="site-main" class="site-main outer">
{{!-- Everything inside the #post block pulls data from the post --}}
<main id="site-main" class="site-main outer">
    
        <header class="article-header gh-canvas">
            {{#if feature_image}}
            <figure class="article-image">
                {{!-- This is a responsive image, it loads different sizes depending on device
                https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                <img
                    srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w"
                    sizes="(min-width: 1400px) 1400px, 92vw"
                    src="{{img_url feature_image size="xl"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                />
                {{#if feature_image_caption}}
                    <figcaption>{{feature_image_caption}}</figcaption>
                {{/if}}
            </figure>
            {{/if}}
        </header>

  <div class="outer">
    {{#page}}
    <article class="post-full {{post_class}} no-image">
      <section class="post-full-content">
        <div class="post-content">
          <br>
          <h1 class="post-title" style="font-weight: bold">Articles</h1>
        </div>
      </section>
    </article>
    {{/page}}
  </div>

    <!-- from post.hbs -->
    
    <!-- get the list of posts -->
{{#get "posts" filter="tag:hash-all" limit="9"}}
    <div class="inner posts">
        <div class="post-feed">
            {{#foreach posts}}
                <article class="post-card {{post_class}}{{#match @custom.feed_layout "Classic"}}{{#is "home"}}{{#has index="0"}} post-card-large{{/has}}{{#has index="1,2"}} dynamic{{/has}}{{/is}}{{/match}}{{#match @custom.feed_layout "Grid"}} keep-ratio{{/match}}{{#match @custom.feed_layout "List"}}{{#is "home, paged"}} post-card-large{{/is}}{{/match}}">
                    <a class="post-card-content-link" href="{{url}}">
                        <header class="post-card-header">
                            <div class="post-card-content">
                                <h2 class="post-card-title">{{title}}</h2>
                                {{#if feature_image}}
                                    <a class="post-card-image-link" href="{{url}}">
                                        <img class="post-card-image"
                                            srcset="{{img_url feature_image size="s"}} 300w,
                                                    {{img_url feature_image size="m"}} 600w,
                                                    {{img_url feature_image size="l"}} 1000w,
                                                    {{img_url feature_image size="xl"}} 2000w"
                                            sizes="(max-width: 1000px) 400px, 800px"
                                            src="{{img_url feature_image size="m"}}"
                                            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                                            loading="lazy"
                                        />
                                    </a>
                                {{/if}}
                                <p>{{excerpt words="70"}}</p>

                                <footer class="post-card-meta">
                                    <time class="post-card-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
                                    <span class="post-card-meta-length">{{reading_time}}</span>
                                    {{#if @site.comments_enabled}}
                                        {{comment_count}}
                                    {{/if}}
                                </footer>

                            </div>
                        </header>
                    </a>
                </article>
            {{/foreach}}
        </div>
    </div>
{{/get}}


<style>
  /* Add space above the .myBTNdiv */
  .myBTNdiv {
    margin-top: 20px; /* Adjust the value as needed to control the amount of space */
  }
</style>


<div class="myBTNdiv">
  <a href="https://www.eastasiaecon.com/cycle" class="myButton">Article achive</a> 
</div>

<style>
.myBTNdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myButton {
  padding: 0 1.2em;
  height: 2.4em;
  line-height: 2.4em;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-size: .95em;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  background: #104b1f;
  color: white;
  transition: opacity .2s ease-in-out;
}


</style>


<div id="charts"></div>
    <a href="#charts"></a>   



{{#page}}
    <article class="post-full {{post_class}} no-image">

        <section class="post-full-content">
            <div class="post-content">
                {{content}}
            </div>   
        </section>

    </article>

{{/page}}

</main>
</div>

