{{!< default}}



<main id="main">
{{!--

{{#match @custom.publication_cover_style "!=" "None"}}
  <div class="site-header-content{{#match @custom.publication_cover_style "Large"}} large{{/match}}">
    {{#if @site.cover_image}}
      <img class="site-header-cover"
        srcset="{{img_url @site.cover_image size="s"}} 300w,
                {{img_url @site.cover_image size="m"}} 600w,
                {{img_url @site.cover_image size="l"}} 1000w,
                {{img_url @site.cover_image size="xl"}} 2000w"
        sizes="100vw"
        src="{{img_url @site.cover_image size="xl"}}"
        alt=""
      />
    {{/if}}
    <h1 class="site-title" style="text-align: center !important;">
      {{#if @site.logo}}
        <img class="site-logo" src="{{img_url @site.logo size="m"}}" alt="{{@site.title}}" />
      {{else}}
        {{@site.title}}
      {{/if}}
    </h1>
    <p style="text-align: center !important; font-size: 16px !important;">{{@site.description}}</p>
  </div>
{{/match}}

 --}}

{{#match @custom.publication_cover_style "!=" "None"}}
    <div class="site-header-content{{#match @custom.publication_cover_style "Medium"}} medium{{/match}}">
        {{#if @site.cover_image}}
            {{!-- This is a responsive image, it loads different sizes depending on device
            https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
            <img class="site-header-cover"
                srcset="{{img_url @site.cover_image size="s"}} 300w,
                        {{img_url @site.cover_image size="m"}} 600w,
                        {{img_url @site.cover_image size="l"}} 1000w,
                        {{img_url @site.cover_image size="xl"}} 2000w"
                sizes="100vw"
                src="{{img_url @site.cover_image size="s"}}"
                alt=""
            />
        {{/if}}
        <h1 class="site-title">
        {{#if @site.logo}}
            <img class="site-logo" src="{{img_url @site.logo size="m"}}" alt="{{@site.title}}" />
        {{else}}
            {{@site.title}}
        {{/if}}
        </h1>
        <p class="site-description">{{@site.description}}</p>
    </div>
{{/match}}

<h2 class="post-title" style="font-weight:bold;margin:1.5rem 0">Latest</h2>
{{!--#<section class="p-outer">
#            <div style="background-color: rgba(52, 183, 67, 0.12); width: 80%; padding: 20px; margin: 0 auto; border: 2px solid black; font-family: 'Georgia', serif;">
#                <p style="margin-bottom: 0.5em;">Welcome to <strong>EAST ASIA ECON</strong>, a research service run from Taipei by Paul Cavey, and specializing in the markets and macro of China, Japan, Korea, and Taiwan.</p>
#                <p style="margin-bottom: 0.5em;">We cover all the major data releases, as well as providing weekly and monthly summaries. We also devote a lot of time to thematic work, aiming to understand development patterns across the region, and to find common investment themes.</p>
#                <p style="margin-bottom: 0.5em;">The analysis is founded on an on-the-ground knowledge gained from thirty years experience living, travelling and working in the region. We also have a very strong data infrastructure, built by directly accessing official sources, and made available to subscribers via a comprehensive range of interactive charts and a data app.</p>
#                <p style="margin-bottom: 0.5em;">We don't think you'll find coverage that is as comprehensive and rounded anywhere else. The articles and charts below give a flavor of the work we are doing. There is a lot more on the home pages of the individual economies.</p>
#                <p style="margin-bottom: 0.5em;">Signing up here will ensure you receive occassional emails that give you a taste of what we do. If you work in a financial institution and are interested in subscribing to our full service, please get in touch for a trial. Special access is also available for academics.</p>
#                <p style="text-align: center;">
#                <a href="mailto:paul@eastasiaecon.com" style="display: inline-block; background-color: #104b1f; color: white; padding: 0.65% 20px; text-decoration: none; font-weight: 600; margin-right: 20px; height: auto;">Contact Us</a>
#                  <a href="#/portal/signup" style="display: inline-block; background-color: #104b1f; color: white; padding: 0.65% 20px; font-weight: 600; text-decoration: none;">Sign Up</a>
                </p>
            </div>
</section>
 --}}

  

{{#get "posts" filter="tag:hash-home" limit="12"}}
    <div class="inner posts">
        <div class="post-feed">
            {{#foreach posts}}
                <article class="post-card {{post_class}} 
                    {{#match @custom.feed_layout "Classic"}}
                        {{#is "home"}}
                            {{#has index="0"}} post-card-large{{/has}}
                            {{#has index="1,2"}} dynamic{{/has}}
                        {{/is}}
                    {{/match}} 
                    {{#match @custom.feed_layout "Grid"}} keep-ratio{{/match}} 
                    {{#match @custom.feed_layout "List"}} 
                        {{#is "home, paged"}} post-card-large{{/is}} 
                    {{/match}}">
                    
                    <a class="post-card-content-link" href="{{url}}">
                        <header class="post-card-header">
                            <div class="post-card-content">
                                <!-- Label for Public Post -->
                                {{#has visibility="public"}}
                                    <span class="post-label">Public Post</span>
                                {{/has}}

                                <!-- Label for Members Only -->
                                {{#has visibility="members"}}
                                    <span class="post-label">Members Only</span>
                                {{/has}}

                                <!-- Label for Paid Members Only -->
                                {{#has visibility="paid"}}
                                    <span class="post-label">Paid Member Post</span>
                                {{/has}}

                                <!-- Label for Specific Tier(s) -->
                                {{#has visibility="tiers"}}
                                    <span class="post-label">Subscribers Only</span>
                                {{/has}}

                                <h2 class="post-card-title">{{title}}</h2>

                                {{#if feature_image}}
                                    <a class="post-card-image-link" href="{{url}}">
                                        <img class="post-card-image"
                                            srcset="{{img_url feature_image size='s'}} 300w,
                                                    {{img_url feature_image size='m'}} 600w,
                                                    {{img_url feature_image size='l'}} 1000w,
                                                    {{img_url feature_image size='xl'}} 2000w"
                                            sizes="(max-width: 1000px) 400px, 800px"
                                            src="{{img_url feature_image size='m'}}"
                                            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                                            loading="lazy"
                                        />
                                    </a>
                                {{/if}}

                                <p>{{excerpt words="70"}}</p>

                                <footer class="post-card-meta">
                                    <time class="post-card-meta-date" datetime="{{date format='YYYY-MM-DD'}}">
                                        {{date}}
                                    </time>
                                    <span class="post-card-meta-length">{{reading_time}}</span>
                                    {{#if @site.comments_enabled}}{{comment_count}}{{/if}}
                                </footer>
                            </div>
                        </header>
                    </a>
                </article>
            {{/foreach}}
        </div>
    </div>
{{/get}}

   <style>

        .menu-item, .myButton {
            display: inline-block;
            margin: 10px 5px;
            font-size: 16px;
            color: #ffffff; /* Adjust text color */
            text-decoration: none;
            padding: 2px 15px;
            border-radius: 5px;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
            background-color: #104b1f; /* Adjust background color */
            transition: background-color 0.3s ease;
            font-weight: bold;
            text-align: center;
            width: 150px; /* Standard width for all boxes */
        }

        /* Hover effect */
        .menu-item:hover, .myButton:hover {
            background-color: rgba(16, 75, 31, 0.7); /* Adjust hover background color */
        }
        
        body {
            overflow-x: auto; /* Enable horizontal scrolling */
        }

        .responsive-iframe {
            width: 100%; /* Occupy full width */
            height: auto; /* Auto adjust height */
            min-height: 1000px; /* Minimum height */
        }

        /* Add space above the .myBTNdiv */
        .myBTNdiv {
            margin-top: 20px; /* Adjust the value as needed to control the amount of space */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .menu-item {
            margin: 0 10px; /* Add space between menu items */
        }
        #charts {
            text-align: center; /* Center align the chart navigation */
            margin-bottom: 20px; /* Add some space below the navigation */
        }
        .myBTNdiv {
            margin-top: 20px; /* Adjust the value as needed to control the amount of space */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .myButton {
        width: 200px; /* Adjust the width as needed */
        }

        .post-label {
        display: inline-block;
        padding: 5px 10px;
        font-size: 14px;
        font-weight: bold;
        background-color: #ffffff; /* White background */
        border: 2px solid #104b1f; /* Green border */
        border-radius: 5px;
        color: #104b1f; /* Green text color */
        text-align: center;
        margin: 5px 0; /* Space between the labels */
        }

          /* Add space above the .myBTNdiv */
          .myBTNdiv {
            margin-top: 20px; /* Adjust the value as needed to control the amount of space */
          }
    </style>




<div id="charts">
    <a href="#charts"></a><br>
    <h1>Charts</h1>
</div>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charts</title>
 
</head>
<body>

<div id="region_home_charts">
    <a id="region_home_charts_anchor"></a>
    <figure class="kg-image-card kg-width-full">
        <iframe src="https://main--beautiful-dolphin-db8ab2.netlify.app/charts/region/region_macro" class="responsive-iframe" width="100%" style="height: auto;" loading="'lazy"></iframe>
    </figure>
</div>

