{{!< default}}



<main id="main">
{{!--

{{#match @custom.publication_cover_style "!=" "None"}}
  <div class="site-header-content{{#match @custom.publication_cover_style "Large"}} large{{/match}}">
    {{#if @site.cover_image}}
      <img class="site-header-cover"
        srcset="{{img_url @site.cover_image size="s"}} 300w,
                {{img_url @site.cover_image size="m"}} 600w,
                {{img_url @site.cover_image size="l"}} 1000w,
                {{img_url @site.cover_image size="xl"}} 2000w"
        sizes="100vw"
        src="{{img_url @site.cover_image size="xl"}}"
        alt=""
      />
    {{/if}}
    <h1 class="site-title" style="text-align: center !important;">
      {{#if @site.logo}}
        <img class="site-logo" src="{{img_url @site.logo size="m"}}" alt="{{@site.title}}" />
      {{else}}
        {{@site.title}}
      {{/if}}
    </h1>
    <p style="text-align: center !important; font-size: 16px !important;">{{@site.description}}</p>
  </div>
{{/match}}

 --}}

{{#match @custom.publication_cover_style "!=" "None"}}
    <div class="site-header-content{{#match @custom.publication_cover_style "Large"}} large{{/match}}">
        {{#if @site.cover_image}}
            {{!-- This is a responsive image, it loads different sizes depending on device
            https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
            <img class="site-header-cover"
                srcset="{{img_url @site.cover_image size="s"}} 300w,
                        {{img_url @site.cover_image size="m"}} 600w,
                        {{img_url @site.cover_image size="l"}} 1000w,
                        {{img_url @site.cover_image size="xl"}} 2000w"
                sizes="100vw"
                src="{{img_url @site.cover_image size="s"}}"
                alt=""
            />
        {{/if}}
        <h1 class="site-title">
            {{#if @site.logo}}
                <img class="site-logo" src="{{img_url @site.logo size="m"}}" alt="{{@site.title}}" />
            {{else}}
                East Asia Econ
            {{/if}}
        </h1>
    </div>
{{/match}}

<h1>Welcome</h1>

<section class="p-outer">
            <div class="green-box">
                <p>Welcome to <strong>East Asia Econ</strong>, a research service run from Taipei by Paul Cavey, and specializing in the markets and macro of China, Japan, Korea, and Taiwan.</p>
                <p>We cover all the major data releases, as well as providing weekly and monthly summaries. We also devote a lot of time to thematic work, aiming to understand development patterns across the region, and to find common investment themes.</p>
                <p>The analysis is founded on an on-the-ground understanding of the region, gained from many years living and working in China, Taiwan, Hong Kong, and Japan. We also have a very strong data infrastructure, built by directly accessing official sources, and made available to subscribers via a comprehensive range of interactive charts and a data app.</p>
                <p>We don't think you'll find coverage that is as comprehensive and rounded anywhere else. The articles and charts below give a flavor of the work we are doing. There is a lot more on the home pages of the individual economies.</p>
                <p>If you work for a financial institution and are interested in subscribing, please get in touch. Special access is also available for academics.</p>
            </div>
</section>


  

  {{#get "posts" filter="tag:hash-home" limit="12"}}
<div class="inner posts">
    <div class="post-feed">
        {{#foreach posts}}
            <div class="post-card">
                <h2><a href="{{url}}">{{title}}</a></h2>
                <p>{{excerpt words="30"}} <!-- Adjust the number of words as needed --></p>
                <div class="post-meta" style="margin-top: auto;">
                    <span class="post-date" style="color: #555; font-size: 14px; margin-bottom: 4px;">{{date format="MMM D, YYYY"}}</span>
                    <span class="post-read-time" style="color: #555; font-size: 14px;">{{reading_time}}</span>
                </div>
            </div>
        {{/foreach}}
    </div>
</div>

{{/get}}


  <div class="outer">
    {{#page}}
    <article class="post-full {{post_class}} no-image">
      <section class="post-full-content">
        <div class="post-content">
          {{content}}
        </div>
      </section>
    </article>
    {{/page}}
  </div>
</main>

